{% extends "helfertool/admin.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% block admincontent %}
    <h2>{% trans "Merge duplicates" %}</h2>

    {% if form %}
        <div class="alert alert-info" role="alert">
            {% trans "You have to select one data set, all other will be deleted." %}

            <br/><br/>

            {% trans "Overlapping shifts are not checked during merging." %}
        </div>

        <form action="" method="post">
            {% csrf_token %}

            {% bootstrap_form_errors form %}

            {% for helper in form.helpers %}
            <table clas="table-condensed">
                <tr>
                    <th>{% trans "Name" %}: </th>
                    <td>
                        <input id="helper_name_{{ forloop.counter0}}"
                               name="helper_name"
                               type="radio"
                               required="required"
                               value="{{ helper.pk }}"
                        />
                        <label for="helper_name_{{ forloop.counter0}}">
                            {{ helper.firstname }} {{ helper.surname }}
                        </label>
                        </td>
                </tr>

                <tr>
                    <th>{% trans "E-Mail" %}: </th>
                    <td>
                        <input id="helper_email_{{ forloop.counter0}}"
                               name="helper_email"
                               type="radio"
                               required="required"
                               value="{{ helper.pk }}"
                        />
                        <label for="helper_email_{{ forloop.counter0}}">
                            {{ helper.email }}
                        </label>
                    </td>
                </tr>

                <tr>
                    <th>{% trans "Mobile phone" %}: </th>
                    <td>
                        <input id="helper_phone_{{ forloop.counter0}}"
                               name="helper_phone"
                               type="radio"
                               required="required"
                               value="{{ helper.pk }}"
                        />
                        <label for="helper_phone_{{ forloop.counter0}}">
                            {{ helper.phone }}
                        </label>
                    </td>
                </tr>

                {% if event.ask_shirt %}
                <tr>
                    <th>{% trans "T-shirt" %}: </th>
                    <td>
                        <input id="helper_shirt_{{ forloop.counter0}}"
                               name="helper_shirt"
                               type="radio"
                               value="{{ helper.pk }}"
                        />
                        <label for="helper_shirt_{{ forloop.counter0}}">
                            {{ helper.get_shirt_display }}
                        </label>
                    </td>
                </tr>
                {% endif %}

                {% include "registration/helper_data.html" with helper=helper badge_barcode=helper.badge.barcode %}
            {% endfor %}

            <input type="submit" value="{% trans "Merge" %}" class="btn btn-outline-primary mt-3" />
        </form>
    {% else %}
        <div class="alert alert-warning" role="alert">
            {% trans "There are not duplicates for this mail address." %}
        </div>
    {% endif %}
{% endblock %}
